@import '../../theme/global';

.tile {
  position: relative;
  width: 2rem;
  height: 2rem;
  font-size: 1.875rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tile-visible {
  cursor: default;
}

.tile-sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tile-neighbors {
  position: absolute;
  font-size: 50%;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}
