@import './theme/global';

* {
  box-sizing: border-box;
}

body,
html {
  background-color: #101010;
  font-size: 16px;
}

.App {
  text-align: center;
  color: white;
  background-color: #101010;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 200%;
  font-weight: bold;
  cursor: default;
  @include disable-text-selection;
}

.game {
  padding: 1rem;
}

.dashboard {
  position: relative;
  color: white;
  padding: 1rem 0.25rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  @include disable-text-selection;
}

.dashboard-flags {
  margin-left: auto;
  @include disable-text-selection;
  font-size: 125%;
}

.dashboard-timer {
  margin-right: auto;
  @include disable-text-selection;
  font-size: 125%;
}

.dashboard-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -66%);
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  cursor: pointer;
  @include disable-text-selection;
  &:active,
  &:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
    outline-style: none;
  }
}

.dashboard-status::before {
  content: '🙂';
}

.dashboard-status.status-won::before {
  content: '🥳';
}

.dashboard-status.status-lost::before {
  content: '😭';
}

.dashboard-status.status-guessing::before {
  content: '😨';
}
